@import "../utilidades/extend";
//Nesting

 .video {
     display: flex; flex-direction: row;
      justify-content: space-around;
    }

    .link {
        display: flex; flex-direction: row;
         justify-content: space-around;
         margin: 1rem;
         padding: 1rem;
       }       
     .sobre-nosotros{
          display: flex;
          justify-content: center;
            img{
                width: 40%;
                text-align: center;   
            }
            .parrafo{       
                margin: 2em; 
                width: 40%;
                font-size: 15px;
                text-align: center;
                color:black;
            }
                  h1{
                  text-align: center;
                  }
                  }